ROUTE EXT TCP PORT S_HTTP_TCP	TO_WEB
ROUTE EXT TCP PORT S_HTTPS_TCP	TO_WEB
ROUTE EXT UDP PORT 443		TO_WEB

ROUTE EXT TCP PORT 465			TO_MAIL // SMTPS
ROUTE EXT TCP PORT S_SMTP_TCP		TO_MAIL
ROUTE EXT TCP PORT S_IMAPS_TCP		TO_MAIL
ROUTE EXT TCP PORT S_IMAP_TCP		TO_MAIL
ROUTE EXT TCP PORT S_POP3S_TCP		TO_MAIL
ROUTE EXT TCP PORT S_POP3_TCP		TO_MAIL
ROUTE EXT TCP PORT S_SUBMISSION_TCP	TO_MAIL

ROUTE EXT TCP PORT 8448 TO_MATRIX

ROUTE EXT TCP PORT 5555			TO_VPN
ROUTE EXT TCP PORT 500			TO_VPN // IPSEC IKE
ROUTE EXT TCP PORT 4500			TO_VPN // IPSEC NAT-t
ROUTE EXT UDP PORT S_OPENVPN_UDP	TO_VPN
