ROUTE EXT TCP PORT S_HTTP_TCP	TO_WEB
ROUTE EXT TCP PORT S_HTTPS_TCP	TO_WEB
ROUTE EXT UDP PORT 443		TO_WEB

ROUTE EXT TCP PORT 465			TO_MAIL // SMTPS
ROUTE EXT TCP PORT S_SMTP_TCP		TO_MAIL
ROUTE EXT TCP PORT S_IMAP_TCP		TO_MAIL
ROUTE EXT TCP PORT S_SUBMISSION_TCP	TO_MAIL
